.card {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;

  .card-content-wrapper {
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;

    .content-header {
      padding: 0 8px;
      height: 60px;
      display: flex;

      .avatar-section {
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .title-section {
        padding: 8px;

        .header-title-typo {
          font-weight: 600;
        }

        .header-sub-title-typo {
          position: relative;
          top: -6px;
        }
      }
    }

    .content-main {
      padding: 16px;
    }
  }

  .badge-section {
    position: absolute;
    bottom: -15px;
    z-index: 20;

    .MuiChip-root {
      opacity: 1;
      background-color: #e5e5e5;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
    }
  }

  .children-line {
    width: 1px;
    position: absolute;
  }

  .parent-line {
    width: 1px;
    position: absolute;
  }
}
