.react-hierarchy {
  .layer-a-wrapper {
    background-color: transparent;
  }
  .layer-b-wrapper {
    background-color: transparent;
  }
  .layer-c-wrapper {
    background-color: transparent;
  }
}
