:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.4;
  --cardBackgroundColor: #ffffff;
  --branchLineColor: #666666;
}

body {
  margin: 0;
}
